
*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 500vh;
    background-color: #fff;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header.rolagem{
    background-color: #dbb6b6;
    padding: 20px 4%;
}

header.rolagem a{
    color: #4b0c0c;
    font-weight: bold;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #dbb6b6;
    color: #4b0c0c;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
    border-radius: 5px;
}

.banner{
    height: 100vh;
    background-image: url(imagens/warrior-girl-sword-sekiro-shadows-die-twice-4k-wallpaper-uhdpaper.com-233@1@n.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;
    color: #fff;
    padding: 50px;
}

.banner h1 span{
    color: #dbb6b6;
}


/* -------------------------------------------------------------------- */
@media (max-width:768px){
    .btn-contato button{
        display: none;
    }
    
    header ul{
        display: flex;
        gap: 10px;
        padding: 0 0;
    }

    header ul li{
        display: flex;
        margin: 0;
    }   

    .flex{
        flex-direction: column;
        text-align: center;
    }

    .banner h1{
        font-size: 3em;
        color: #fff;
        padding: 30px;
    }
}